__pycache__/
*.py[codz]
*$py.class

.venv/
venv/
env/
ENV/

.env
.envrc

.ipynb_checkpoints/
.pytest_cache/
.mypy_cache/
.ruff_cache/

.DS_Store
Thumbs.db
*.log

data/
*.h5
X_das_2d.npy
y_das_2d.npy
X_das.npy
y_das.npy
best_cnn_das_2d.keras
best_cnn_das_2d_backend.keras
